<!-- <table class="table table-condensed">
  <tr>
    <td colspan="2">
      <h5>Kontakt:</h5>
      <tr>
        <td class="col-lg-1" style="text-align:right;">Guild Leader:</td>
        <td class="col-lg-1" style="text-align:left;">
          <em>kociokwik#2593</em>
        </td>
      </tr>
      <tr>
        <td class="col-lg-1" style="text-align:right;">Officer:</td>
        <td class="col-lg-1" style="text-align:left;">
          <em>krogulek#2937</em>
        </td>
      </tr>
    </table> -->
