<div class="ibox-content" style="border-top: 3px gray dotted;border-bottom: 3px gray dotted;">

  <div class="row">
    <div class="col-lg-12">
      <div class="vertical-timeline-content">
        <h2>
          <b>Profesjonalizm</b>
        </h2>
        <p>Osoby raidujące
          <b>muszą</b>
          mieć opanowaną znajomość swojej klasy w conajmniej 95%. Jeżeli w stosunku do graczy z twoją klasą, profesją, oraz podobnym ilvl wypadasz znacznie gorzej to tracisz przywilej raidowania w gildii. Nastawieni jesteśmy na progress, nie na boost graczy.
          Punktualność i przygotowanie na raid też ma znaczenie. Jeśli spóźniasz się notorycznie, oraz nie jesteś odpowiednio przygotowany to loot dostaniesz na samym końcu.</p>
      </div>
      <hr>
    </div>
    <div class="col-lg-6">
      <div class="vertical-timeline-content">
        <h2>Kultura</h2>
        <p>Stoi w naszej gildii na odpowiednim poziomie.</p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="vertical-timeline-content">
        <h2>Zasady</h2>
        <p>Gildia, dystrybucja lootu i przydział obowiązków to decyzja demokratyczna wśród osób znaczących w gildii. Jeżeli dużo się udzielasz, pomagasz i jesteś na wszystkich raidach - twój głos się liczy. Jeżeli nie spełniasz tych wymagań - nie. Ostateczny
          głos ma zawsze Guild Leader.</p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="vertical-timeline-content">
        <h2>Dni raidowe</h2>
        <p>
          <b>Środa, Czwartek, Poniedziałek.</b>
          Weekend zostawiamy na wyjścia i spotkania. Czasami zamiast poniedziałku raidujemy w niedzielę, zależy to od ilości osób które mogą być na raidzie.</p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="vertical-timeline-content">
        <h2>Godziny raidowe</h2>
        <p>Zazwyczaj były to
          <b>20:15 - 23:00</b>.</p>
      </div>
    </div>
  </div>
</div>
