body {
    padding-top: 70px;
    background-color: #fafafa;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.character-info {
    border: 0 gray solid;
    border-radius: 3px;
    padding: 2px;
    margin: 2px;
    float: left;
    background-color: #ddd;
    min-width: 95px;
    max-width: 150px;
}
.character-info .name {
    color: #333;
    vertical-align: top;
    font-size: 105%;
    font-weight: 800;
    letter-spacing: 1px;
}
.role {
    height: 24px;
    width: 24px;
}
.class-icon {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 5px;
}
.class-icon2 {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
.img-cover {
    background: url("http://i.imgur.com/wLdJ2vx.png") no-repeat center;
    height: 200px;
    width: 96%;
    margin-left: 2%;
    position: center;
    position: relative;
    z-index: 100;
    margin-bottom: 50px;
    margin-top: 50px;
}
.main-logo-name {
    color: #844;
    font-size: 110px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: -10px;
}
.circle-class {
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: -5px;
    margin-left: -5px;
}
.paladin-element {
    border-left: 12px solid #F58CBA !important;
    background-image: url('/img/tyrion.png');
}
.deathknight-element {
    border-left: 12px solid #C41F3B !important;
    background-image: url('/img/dk.png');
}
.druid-element {
    border-left: 12px solid #FF7D0A !important;
    background-image: url('/img/druid.png');
  }
  .hunter-element {
    border-left: 12px solid #ABD473 !important;
    background-image: url('/img/hunter.png');
  }
  .mage-element {
    border-left: 12px solid #69CCF0 !important;
    background-image: url('/img/mage.png');
  }
  .priest-element {
    border-left: 12px solid #e0e0e0 !important;
    background-image: url('/img/priest.png');
  }
  .rogue-element {
    border-left: 12px solid #FFF569 !important;
    background-image: url('/img/rogue.png');
  }
  .shaman-element {
    border-left: 12px solid #0070DE !important;
    background-image: url('/img/shaman.png');
  }
  .warlock-element {
    border-left: 12px solid #9482C9 !important;
    background-image: url('/img/lock.png');
  }
  .warrior-element {
    border-left: 12px solid #C79C6E !important;
    background-image: url('/img/warrior.png');
  }
  .demonhunter-element {
    border-left: 12px solid #4B5413 !important;
    background-image: url('/img/demonhunter.png');
  }
  .monk-element {
    border-left: 12px solid #00FF96 !important;
    background-image: url('/img/monk.png');
  }

  .pull-right {
    margin: 15px;
    float:right !important;
    text-align: right;
  }

.list4{
  margin-left: -50px;
}
.role-element {
  margin: 10px;
  padding: 10px;
  list-style-type: none;
  border: 1px lightgray solid;
  border-radius: 3px;
}
.itemlvl {
  float: left;
  font-weight: bold;
}
